<!DOCTYPE html>
<html lang="en">
<head>
	<!-- metas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font awesome 4.7 CDN -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- bootstrap css CDN -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- //- -->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app.css">

	<title>Auth with Slim 3</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url() }}">AuthJM</a>
        </div>

        <div id="menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if auth.state %}
                <li>
                    <a href="#">{{ auth.user.username }}</a>
                </li>
                <li>
                    <a href="{{ path_for('user.profile') }}"><i class="fa fa-user"></i> Perfil</a>
                </li>
                <li>
                    <a href="{{ path_for('auth.logout') }}"><i class="fa fa-sign-out"></i> Sair</a>
                </li>
                {% else %}
                    
                <li>
                    <a href="{{ path_for('auth.login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ path_for('auth.register') }}">Cadastrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
	</div>
</nav>

<div class="container">

    <div class="flash">
        {% include 'templates/partials/flash.twig' %}
    </div>

	{% block content %}{% endblock %}
</div>

<!-- jquery -->
<script src="{{ base_url() }}/js/jquery.min.js"></script>
<!-- bootstrap script CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% block scripts %}{% endblock %}


</body>
</html>