<!DOCTYPE html>
<html lang="en">
<head>
	<!-- metas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app.css">

	<title>Auth with Slim 3</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="{{ base_url() }}">Auth with Slim 3</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu">
      		<span class="navbar-toggler-icon"></span>
    	</button>

    	<div class="collapse navbar-collapse" id="main_menu">
    		<ul class="navbar-nav ml-auto">
    			<li class="nav-item">
    				<a class="nav-link" href="{{ path_for('home') }}">Home</a>
    			</li>
    			{% if auth.state %}
                <li class="nav-item dropdown">
                    <a id="user_drop" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Joao Junior</a>
                    <div class="dropdown-menu" aria-labelledby="user_drop">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('auth.register') }}">Register</a>
                </li>
                {% endif %}
    		</ul>
    	</div>
	</div>
</nav>

<div class="container">

    <div class="flash">
        {% include 'templates/partials/flash.twig' %}
    </div>

	{% block content %}{% endblock %}
</div>

<!-- jquery -->
<script src="{{ base_url() }}/js/jquery.min.js"></script>
<!-- bootstrap script (with Popper.js) -->
<script src="{{ base_url() }}/js/bootstrap.bundle.min.js"></script>


</body>
</html>